$orange: rgb(230,157,79);


html, body {
    background-color: #6fcdbd;
    margin: 0rem 1rem;
    padding-top: 3vh;
}

body .home {
  padding-top: auto !important;
  height: 100%;
}
html {
  font-family: Montserrat, "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow-y: auto;
  //height: 100%;
}
#presentation {
  color: #fff;
  font-family: Montserrat,"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  flex-direction: column;
  display: flex;
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"),
      local("Montserrat-Regular"),
      url(fonts/Montserrat-Regular.otf) format("opentype")
  } 
  main {
    margin: 1rem;
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      src: local("Montserrat Bold"),
        local("Montserrat-Bold"),
        url(fonts/Montserrat-Bold.otf) format("opentype")
    }
  }

  a {
    color: #fff;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
  }

  a:hover {
    color: $orange
  }

  h1 {
    font-size: 3.5rem
  }

  h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 992px) {
    h1 {
      font-size: 7vw
    }

    h2 {
      font-size: 5vw
    }
  }

  img.portrait {
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid #fff;
    margin: 2em 3em;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px
  }

  .column {
    flex: 1
  }

  main {
    display: flex;
    height: 100%;
  }

  main .column.left {
    text-align: end
  }

  main .column.right h1 {
    margin-left: -10px;
    margin-bottom: 0.4em
  }

  main .column.right h2 {
    margin-left: -4px;
    margin-top: 0
  }

  main .column .links {
    margin-top: 0rem;
    font-size: 2.5rem;
  }

  main .column.right .links a {
    margin-right: 0.5rem;
    text-decoration: none
  }

  main .column.left .links a {
    margin-left: 0.5rem;
    text-decoration: none
  }
  main .column.left .links {
    margin-right: 2rem;
    margin-top: 0;
    }

  @media screen and (max-width: 992px) {
    main {
      flex-direction: column;
    }

    main .column.left {
      text-align: center
    }

    main .column.right h1 {
      margin-top: 0
    }

    main img.portrait {
      margin: 0
    }
  }

  footer {
    display: flex;
    margin-top: 3rem;
    font-size: 0.75rem
  }

  @media screen and (max-width: 992px) {
    footer {
      flex-direction: column
    }
  }
}

.articles {
  display: flex;
  align-self: center;
}
.article-card {
  font-size: 1.5rem;
  border-radius: 20px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  height: 180px;
  width: 320px;
  cursor: pointer;
}
.article-card:hover {
  .article-card-title {
    animation: shine 0.4s linear;
  }

  border-radius: 20px;
  border-color:$orange;
}
@keyframes shine {
  0% {
    color: white;
  }
  50% {
    color: $orange;
  }
  100% {
    color: white;
  }
}

.tagline {
  font-size: 28px;
  line-height: 26px;
}

.article-card:hover .article-card-title h1 {
  color: $orange !important
}
.article-card-title {
  font-size: 2rem !important;
  margin: 0 0 25px 0 !important;
}

.blog-back {
  margin: 0 0 0 -20px;
  position: absolute;
}

.blog-header h1 {
  margin: 0 0 0 0 0;
}

.blog-article p {
  text-align: justify;
  text-justify: auto;
}
.blog-image-left {
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.blog-image-right {
  float:right;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (width < 768px) {
  .blog-image-left {
    width: 150px;
  }
  .blog-image-right {
    width: 150px;
  }
}
.article-two-columns {
  flex-direction: column;
  display: inline-block;
}

.article-column-left {
  margin-right: 20px;
  display: inline-block;
}